{% extends 'base.html' %}

{% block body %}

<center>
  <section id="index" class="bg">
    <div class="layer">
      <div class="container">
          <h3><b>Prodekon logokilke</b></h3>
          <p>Tervetuloa Prodekon logokilkkeeseen! Tällä sivulla voit helposti lisätä killan logon ottamaasi kuvaan.</p>
          <a href="{% url 'single' %}">Lisää logo yhteen kuvaan</a>
          <br>
          <a href="{% url 'multi' %}">Lisää logo moneen kuvaan</a>
      </div>
    </div>
  </section>
</center>
{% endblock %}
